modules = ["python-3.12", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run FastAPI Server"

[[workflows.workflow]]
name = "Run FastAPI Server"
author = 43354051
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd nr1-main && python -m uvicorn app.main:app --host 0.0.0.0 --port 5000 --reload"
